---
---
<!-- _layouts/bib.html: plain-list publication entry (Barron/Shen style) -->
<strong>{{ entry.title }}</strong><br>
{%- for author in entry.author_array -%}
  {%- assign author_is_self = false -%}
  {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
  {%- if site.scholar.last_name contains author_last_name -%}
    {%- if site.scholar.first_name contains author.first -%}
      {%- assign author_is_self = true -%}
    {%- endif -%}
  {%- endif -%}
  {%- assign coauthor_url = nil -%}
  {%- if site.data.coauthors[author_last_name] -%}
    {%- for coauthor in site.data.coauthors[author_last_name] -%}
      {%- if coauthor.firstname contains author.first -%}
        {%- assign coauthor_url = coauthor.url -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- assign author_markers = "" -%}
  {%- if author.last contains "*" -%}{%- assign author_markers = author_markers | append: "*" -%}{%- endif -%}
  {%- if author.last contains "†" -%}{%- assign author_markers = author_markers | append: "†" -%}{%- endif -%}
  {%- unless forloop.first %}, {% endunless -%}
  {%- if author_is_self -%}
    <u>{{ author.first }} {{ author_last_name }}</u>
  {%- elsif coauthor_url -%}
    <a href="{{ coauthor_url }}">{{ author.first }} {{ author_last_name }}</a>
  {%- else -%}
    {{ author.first }} {{ author_last_name }}
  {%- endif -%}
  {%- if author_markers != "" -%}<sup>{{ author_markers }}</sup>{%- endif -%}
{%- endfor -%}<br>
{%- if entry.manuscript -%}
<em>Manuscript</em>
{%- elsif entry.abbr -%}
<em>{{ entry.abbr }} {{ entry.year }}{% if entry.booktitle contains "Findings" %} (Findings){% endif %}</em>
{%- elsif entry.type == "article" -%}
<em>{{ entry.journal }} {{ entry.year }}</em>
{%- else -%}
<em>{{ entry.booktitle }} {{ entry.year }}</em>
{%- endif -%}
{%- if entry.note and entry.manuscript != "true" %} <span class="award-tag">{{ entry.note }}</span>{% endif %}
{%- if entry.arxiv %}
&nbsp;[<a href="https://arxiv.org/abs/{{ entry.arxiv }}">arXiv</a>]
{%- endif %}
{%- if entry.pdf %}
{%- if entry.pdf contains '://' %}
&nbsp;[<a href="{{ entry.pdf }}">pdf</a>]
{%- else %}
&nbsp;[<a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}">pdf</a>]
{%- endif %}
{%- endif %}
{%- if entry.html %}
&nbsp;[<a href="{{ entry.html }}">link</a>]
{%- endif %}
{%- if entry.code %}
&nbsp;[<a href="{{ entry.code }}">code</a>]
{%- endif %}
{%- if entry.slides %}
{%- if entry.slides contains '://' %}
&nbsp;[<a href="{{ entry.slides }}">slides</a>]
{%- else %}
&nbsp;[<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}">slides</a>]
{%- endif %}
{%- endif %}
{%- if entry.poster %}
{%- if entry.poster contains '://' %}
&nbsp;[<a href="{{ entry.poster }}">poster</a>]
{%- else %}
&nbsp;[<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}">poster</a>]
{%- endif %}
{%- endif %}
{%- if entry.supp %}
{%- if entry.supp contains '://' %}
&nbsp;[<a href="{{ entry.supp }}">supp</a>]
{%- else %}
&nbsp;[<a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}">supp</a>]
{%- endif %}
{%- endif %}
{%- if entry.blog %}
&nbsp;[<a href="{{ entry.blog }}">blog</a>]
{%- endif %}
{%- if entry.website %}
&nbsp;[<a href="{{ entry.website }}">website</a>]
{%- endif %}
